.social-container {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 1em;
}

@media (min-width: 720px) {
	.social-container {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2em;
	}
}

@media (min-width: 1200px) {
	.social-container {
		grid-template-columns: repeat(4, 1fr);
	}
}